{% extends "layout.html" %}
{% block content %}

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Airtable Integration</h1>
        <p class="lead">In this example, I scrape data from Buffer Blog and demonstrate the data via Airtable API.</p>
      </div>

      <div class='container'>
        <table id="myTable" class="table table-striped" style="width:100%" >
            <thead>
              <tr>
                <th>Headline</th>
                <th>Summary</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody>
               {% for row in  entries  %}
                  <tr>
                    <td>{{ row["headline"] }}</td>
                    <td>{{ row["summary"] }}</td>
                    <td>{{ row["link"] }}</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
      </div><!--end container-->

    </main><!-- /.container -->

{% endblock content %}
